html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

html {
    background-color: #010101;
    background-image: url('./nasa-background.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-attachment: fixed;
    font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica,
        Arial, sans-serif;
}

.list-downloads {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: left;
}

.list-downloads li {
    margin-top: 0.5rem;
    margin-left: 1rem;
}

.u-block {
    display: block;
}

a {
    color: inherit;
    text-decoration: none;
}

h1,
h2 {
    margin-top: 0;
}
